.hoverable-box {
  display: flex;
  padding: 12px;
  background-color: transparent;
  transition: background-color 0.3s ease;
  cursor: pointer;
  text-align: left;
  border: none;
  outline: none;
  border-radius: 6px;
}

.hoverable-box:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
